<!-- https://daily-life-of-bigone.tistory.com/22 LAYOUT
https://studiomeal.com/archives/533 GRID
https://studiomeal.com/archives/197 FLEX -->
<!DOCTYPE html>
<html>
    <head>
        <title>layout_project_1</title>
        <link rel="stylesheet" href="project1.css">
    </head>
    <body>
        <header>
            <!-- header -->
            <h1 class="name">Hellow would!  -   Column, right</h1>
        </header>
        <nav>
            <!-- nav -->
            <ul class="navs">
                <li class="navc"><a href="">page1</a></li>
                <li class="navc"><a href="">page2</a></li>
                <li class="navc"><a href="">page3</a></li>
                <li class="navc"><a href="">page4</a></li>
            </ul>
        </nav>
        <main>
            <aside class="aside1">
                aside1
            </aside>
            <aside class="aside2">
                aside2
            </aside>
            <aside class="section">
                section<br>
                <grid class="article">
                    <article class="article1">
                        article1
                    </article>
                    <article class="article2">
                        article2
                    </article>
                </grid>
            </aside>
        </main>
        <footer>
            footer
        </footer>
    </body>
</html>