/* styles.css */

/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* 헤더 스타일 */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* 섹션 스타일 */
  section {
    margin: 20px;
  }
  
  /* 푸터 스타일 */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }